DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/dashcam
MEDIA_ROOT=media
MODEL_CACHE_DIR=models
APP_TITLE=Video-to-Map Analytics Web Application
MINIO_ENDPOINT=127.0.0.1:19000
MINIO_API_URL=http://127.0.0.1:19000
MINIO_CONSOLE_URL=http://127.0.0.1:19001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false
MINIO_ORIGINALS_BUCKET=dashcam-original-videos
MINIO_PROCESSED_BUCKET=dashcam-processed-videos
MINIO_IMAGES_BUCKET=dashcam-images