DATABASE_URL=postgresql+psycopg://<username>:<password>@localhost:5432/dashcam

MEDIA_ROOT=media
MODEL_CACHE_DIR=models

APP_TITLE=Video-to-Map Analytics Web Application

MINIO_ENDPOINT=localhost:19000
MINIO_API_URL=http://localhost:19000
MINIO_CONSOLE_URL=http://localhost:19001

MINIO_ACCESS_KEY=YOUR_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_MINIO_SECRET_KEY

MINIO_SECURE=false

MINIO_ORIGINALS_BUCKET=dashcam-original-videos
MINIO_PROCESSED_BUCKET=dashcam-processed-videos
MINIO_IMAGES_BUCKET=dashcam-images